* {
    box-sizing: inherit;
}

nav {
    background-color: #fff;
    padding: 0 2rem;
    border-radius: 2.625rem;
    box-shadow: inset 0 0 0 #fff, inset 0 0 0 #03a9f4, inset 0 0 0 #03a9f4,
    0 0 0 #03a9f4, 0 0 0 #03a9f4, 0 0 0 #03a9f4, 0 0 13px #424242;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem 0;
}
li ul {
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.5s ease;
    width: 8rem;
    right: -2rem;
    top: 4.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}


.profile {
    height: 3rem;
    width: auto;
    cursor: pointer;
    border: 3px solid #ff9100;
    padding: 5px;
    border-radius: 50%;
}

.sub-item {
    width: 7rem;
    display: flex;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem .5rem;
}

.sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover p {
    color: #000;
    cursor: pointer;
}

.sub-item p, .sub-item a {
    font-size: 0.85rem;
    color: #888888;
    font-weight: 500;
    flex: 1;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.sub-item a i {
    color: #c3c9ce;
}


.joueur_pseudo {
    word-break: break-word;
    font-weight: bold;
    font-size: 16px;
    max-width: 100%;
    min-width: 30px;
    height: auto;
}

