
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geomanist, sans-serif;
}

:root{
    --hue: 207;
    /* ===== Colors ===== */
    --primary-color: linear-gradient(to right top, #65dfc9, #6cdbeb);
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

main {
    font-size: 13px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

main >a {
    text-decoration: none;
    color: black;
}

.glass {
    background: white;
    min-height: 50vh;
    width: 30%;

    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: space-between;
    #align-items: center;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.3)
    );
    height: 14rem;
    width: 14rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 2%;
    right: 12%;
}
.circle2 {
    bottom: 4%;
    left: 10%;
}

.block_choix {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}


.choix__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.block_choix .choix_info {
    transform: translateY(-20px);
}

.block_choix .choix_info img {
    width: 100px;
    background: none;
}

.block_choix .choix_info u {
    color: #65dfc9;
    font-weight: 200;
}


.choix__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg,
    hsla(var(--hue), 24%, 40%, .3) 0%,
    hsla(var(--hue), 24%, 4%, .3) 95%);
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: .3s;
}

.choix__subtitle,
.choix__title {
    color: #fff;
}

.choix__subtitle {
    font-size: var(--smaller-font-size);
}

.choix__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.choix__button {
    padding: .5rem;
}

.choix__card:hover .choix__modal {
    bottom: 0;
}

.choix__modal img {
    width: 50px;
}
