*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header1{
	width: 100%;
	height: 100vh;
	background: linear-gradient(57deg, #00c6a7, #1e4d92);
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

nav{
	width: 100%;
	height: 100px;
	/*background: red;*/
	display: flex;
	color: white;

}

.logo{
	width: 50%;
	height: 100px;
}

.logo h1{
	line-height: 100px;
	padding-left: 50px;
}

.menu{
	width: 50%;
	height: 100px;
}

.menu ul{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menu ul li{
	padding-left: 25px;
	padding-right: 25px;
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	position: relative;
}

.menu ul li a:hover{
	color: #70cff5;
	transition: .9s;
}

.menu ul li a::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -3.5px;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background-color: #70cff5;
	opacity: 0.9;
	transition: transform 250ms;
}

.menu ul li a:hover::after{
	transform: translateX(-50%) scaleX(1);
}

.active{
	color: black;
	border-bottom: 2px solid #70cff5;
}

section {
	display: flex;
}

.gauche{
	width: 45%;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}

.gauche img{
	width: 600px;
	height: 500px;
}

.droite{
	width: 55%;
	height: 300px;
	color: white;
	text-align: center;
	margin-top: 80px;
	/*background: red;*/
	padding: 40px;
}

.h11{
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
}
.h22{
	position: relative;
	bottom: 15px;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	transform: scaleY(-1);
	-webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent) , to(rgba(0,0,0,0.1)));
}

.droite p{
	position: relative;
	bottom: 40px;
	font-size: 1.1rem;
	padding: 30px 0;
}

.droite button{
	position: relative;
	bottom: 20px;
	font-size: 17px;
	font-weight: bold;
	color: white;
	text-transform:uppercase;
	background: linear-gradient(57deg, #00c6a7, #1e4d92);
	border-radius: 4px;
	padding: 20px 35px;
}
.droite button img{
	float: right;
	position: relative;
	text-align: none;
	cursor: pointer;
}

.droite button:hover{
	cursor: pointer;
	background: linear-gradient(57deg, #1e4d92, #00c6a7);
}

.droite a{
	text-decoration: none;
	list-style: none;
}
