*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geomanist Ultra", sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: linear-gradient(to right top, #65dfc9, #6cdbeb);
    --level-color: linear-gradient(to right top, #65dfc9, #6cdbeb);
    --level-off-color: #c3c9ce;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background: var(--primary-color);
    font-family: Roboto, sans-serif;
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

main {
    font-size: 13px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.8;
}

a {
    text-decoration: none;
    transition: .4s ease-in;
}
a:hover {
    transform: scale(.9);
}

.glass {
    background: white;
    max-height: 79vh;
    min-height: 79vh;
    width: 60%;
    min-width: 320px;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.3)
    );
    height: 14rem;
    width: 14rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 2%;
    right: 12%;
}
.circle2 {
    bottom: 4%;
    left: 10%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}

.dashboard a#editProfile {
    cursor: pointer;
    transition: .3s ease-in-out;
}
.dashboard a#editProfile:hover {
    transform: scale(.9);
}

.link {
    display: flex;
    margin: .5rem 0rem;
    padding: .2rem .5rem;
    align-items: center;
}
.link h2 {
    padding: 0rem .6rem;
    font-size: 13px;
}

.links a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.links a:hover{
    color: #65dfc9;
}

.links h2 {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

.links .nav_link.active h2 {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}


.games {
    flex: 2;
}

.user img {
    width: 50px;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: .3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
}

/* GAMES */
.status {
    margin-bottom: 1rem;
}

.status input {
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.games {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.card {
    display: flex;
    background: linear-gradient(
            to left top,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: .5rem 0rem;
    padding: .3rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    align-items: center;
}

.games .card img {
    max-width: 40px;
}

.games .card .card-info {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

.level img {
    border-radius: 50%;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 8px;
    width: 100%;
    overflow: hidden;
}

.progress-done {
    background-image: var(--level-color);
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 1;
    transition: 1s ease 0.3s;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.level.no {
    color: var(--level-off-color);
}

.card-info .info_user {
    display: flex;
    align-items: center;
}
.card-info .info_user h5 {
    opacity: .6;
    font-size: 11px;
}

.card-info p {
    font-size: 11px;
}

.level .percentage {
    width: 50px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    background: var(--level-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.level.no .percentage {
    font-weight: bold;
    background: var(--level-off-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.games >label {
    display: none;
    transition: 4s ease-in;
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

.games label.active {
    display: block;
    opacity: 1;
    transition: 4s ease-in;
}

/*EDIt*/

.form-card .card {
    width: 65%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card form {
    width: 90%;
    padding: 20px 0 20px 0;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 0px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #99cacc;
    margin: 5px 0;
    height: 35px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    align-items: center;
}

.card form .input-field i {
    text-align: center;
    line-height: 75px;
    color: #1369d9;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 100%;
    background-image: var(--level-color);
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-image: var(--level-color);
}


.tooltip {
    display: inline-block;
    position: relative;
    top: -5px;
    font-size: 13px;
    color: red;
    border: none;
}

/* BTN BUY*/
.button{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: var(--level-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}
.button .icon{
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
    display: none;
}
.button.checked .icon{
    display: flex;
}
.icon.spinner.spin{
    animation: spin 1.3s ease-in-out infinite;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
.icon.check{
    display: inline-flex;
    height: 32px;
    width: 32px;
    font-size: 18px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #6e93f7;
}
.button .btn-text{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
